body {
    font-family: 'Poppins', sans-serif;
}


section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: rgb(20, 20, 22);
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none; /* this gets rid of the dots in our unordered list */
    width: 450px;
    justify-content: space-around;
    font-size: 30px;
    margin: 0 30px;
    margin-top: 30px;
    /* We can adjust whatever is in the unordered list specifically here*/
}

li {
    /* width: 200px;*/
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin: 20;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between; /* this creates space in between our elements */
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 350px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #004bcc;/* this changes the color of the button*/
    border-radius: 50px; /* this makes the button look like a pill*/
    text-align: center;
    font-size: 30px;
}

.button:hover { /* this is to make the button change colors when you are about to click on it */
    background-color: #2e8cff;
}

.button:active { /* this makes the color of the button change when you click on it */
    background-color: darkgray;
    color: #808080;
}

.socials {
    padding-bottom: 380px;
    margin-right: 50px;
}

.logo {
    height: 300px; /* this is how we change the size of the logo on the left side */
    margin: 30 0px;

}

.social {
    margin: 20px;
}
